
 @import "tailwindcss";
 @plugin "daisyui" {
  themes: [light, dark] --default;
 }

 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #17a2b7;
  --color-secondary: #24292d;
  --color-base-100: #ffffff;
  --color-base-200: #f3f4f6;
  --color-base-300: #e5e7eb;
  --color-base-content: #24292d;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #17a2b7;
  --color-secondary: #24292d;
  --color-base-100: #1a1a1a;
  --color-base-200: #2d2d2d;
  --color-base-300: #3d3d3d;
  --color-base-content: #ffffff;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

